@model Controle.Models.Veiculo
@{
    ViewData["Title"] = "Create";
}
<h1>Cadastro de Modelos</h1>

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-black-50 pl-3">Adicionar Veículo</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row" text-center>
                    <div class="col-4">
                        <label asp-for="Ano"></label>
                        <span asp-validation-for="Ano" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="Ano" class="form-control" />
                    </div>
                </div>

                <div class="form-group row" text-center>
                    <div class="col-4">
                        <label asp-for="Cor"></label>
                        <span asp-validation-for="Cor" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="Cor" class="form-control" />
                    </div>
                </div>

                <div class="form-group row" text-center>
                    <div class="col-4">
                        <label asp-for="TipoCombustivel"></label>
                        <span asp-validation-for="TipoCombustivel" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="TipoCombustivel" class="form-control" />
                    </div>
                </div>

                <div class="form-group row" text-center>
                    <div class="col-4">
                        <label asp-for="ValorDeCompra"></label>
                        <span asp-validation-for="ValorDeCompra" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="ValorDeCompra" class="form-control" />
                    </div>
                </div>


                <div class="form-group row" text-center>
                    <div class="col-4">
                        <label asp-for="DataDeVenda"></label>
                        <span asp-validation-for="DataDeVenda" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="DataDeVenda" class="form-control" />
                    </div>
                </div>

                <div class="form-group row" text-center>
                    <div class="col-4">
                        <label asp-for="ValorDeVenda"></label>
                        <span asp-validation-for="ValorDeVenda" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-4">
                        <input asp-for="ValorDeVenda" class="form-control" />
                    </div>
                </div>

                <div class="form-group row" text-center>
                    <div class="col-4">
                        <text> Marca </text>
                    </div>
                </div>
                <select id="ListaMarcas" asp-items="@ViewBag.Marca">
                    <option>Selecione uma Marca</option>
                </select>

                <div class="form-group row" text-center>
                    <div class="col-4">
                        <text> Modelo </text>
                    </div>
                </div>
                <select id="ListaModelos" asp-items="@ViewBag.Modelo">
                    <option>Selecione um Modelo</option>
                </select>

                <div class="form-group">
                    @Html.LabelFor(m => m.ImageUpload, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.ImageUpload, new { type = "file", @class = "form-control" })
                        @Html.ValidationMessageFor(m => m.ImageUpload, "", new { @class = "text-danger" })
                    </div>
                </div>




                <div class="form-group row" text-center>
                    <div class="col-8 offset-2 row">
                        <div class="col">
                            <input type="submit" class="btn btn-info w-75" value="Salvar" />
                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-danger w-75">Voltar</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</form>
@section scripts{
   
<script>
    $(document).ready(function () {
        $("#ListaMarcas").change(function () {
            $("#ListaModelos").empty();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("CarregaModelos")',
                dataType: 'json',
                data: { id: $("#ListaMarcas").val() },

                success: function (modelos) {
                    $("#ListaModelos").append('<option Value="' + -1 + '">' + "Selecione o Modelo" + '</option>');

                    $.each(modelos, function (i, modelo) {
                        $("#ListaModelos").append('<option Value="' + modelo.value + '">' + modelo.text);
                    });
                },
                error: function (ex) {
                    alert('Falha ao carregar os modelos', ex);
                }
            });
            return false;
        })

    })
</script>


}